
<!-- Start: Page Banner -->
<section class="page-banner services-banner">
  <div class="container">
    <div class="banner-header">
      <h2>Cart Page</h2>
      <span class="underline center"></span>
      <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
    </div>
    <div class="breadcrumb">
      <ul>
        <li><a href="index-2.html">Home</a></li>
        <li>Dashboard</li>
      </ul>
    </div>
  </div>
</section>
<!-- End: Page Banner -->
<!-- Start: Cart Section -->
<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main">
      <div class="cart-main">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page type-page status-publish hentry">
                <div class="entry-content">
                  <div class="woocommerce table-tabs" id="responsiveTabs">
                    <div class="tab-content">
                      <div id="sectionA" class="tab-pane fade in active">
                        <div class="filter-toggle">
                          <button (click)="affecter()" style="float: right; background-color: white; border-color: #e84500"><a  href="#myModalupd" role="button" data-toggle="modal"><i style="margin-right: 3px" class="fa fa-plus"></i>  Ajouter un Emprunt</a>
                          </button>
                        </div>
                        <form method="post" action="http://libraria.demo.presstigers.com/cart-page.html">
                          <table class="table table-bordered shop_table cart">
                            <thead>
                            <tr>

                              <th class="product-name">Livre</th>
                              <th class="product-quantity">Etudiant</th>
                              <th class="product-price">Date Emprunt</th>
                              <th class="product-subtotal">Date de Retour</th>
                              <th class="product-action">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let emprunt of listEmprunts" class="cart_item">

                              <td data-title="Product" class="product-name">
                                                                            <span class="product-thumbnail">
                                                                                <a href="#"><img src="../../../assets/images/cart/cart-product-1.jpg" alt="cart-product-1"></a>
                                                                            </span>
                                <span class="product-detail">
                                                                                <a href="#"><strong>{{getNomLivre(emprunt.empruntPK.idLivre).titre}}</strong></a>
                                                                                <span><strong>Author:</strong>{{getNomLivre(emprunt.empruntPK.idLivre).auteur}}</span>
                                                                            </span>
                              </td>
                              <td data-title="action" class="product-action">
                                <a href="#"><strong>{{getEtudiant(emprunt.empruntPK.idLivre).nom}} {{getEtudiant(emprunt.empruntPK.idLivre).prenom}}</strong></a>
                              </td>
                              <td data-title="Price" class="product-price">
                                <p>{{emprunt.empruntPK.dateEmprunt |date :'dd-MMM-yyyy '}}</p>
                              </td>
                              <td data-title="Price" class="product-price">
                               <p *ngIf="emprunt.dateRetourRee>emprunt.empruntPK.dateEmprunt">{{emprunt.dateRetourRee |date :'dd-MMM-yyyy '}}</p>
                              </td>
                              <td class="product-action">
                                <a class="dropdown-toggle" data-toggle="modal" href="#myModalupd" role="button" (click)="selectedValue(emprunt)">Modifier</a>
                                <a  *ngIf="emprunt.dateRetourRee<emprunt.empruntPK.dateEmprunt" class="dropdown-toggle" (click)="Retour(emprunt)">Retour</a>
                                <a class="dropdown-toggle" (click)="supprimer(emprunt)">Supprimer</a>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </form>
                      </div>
                      <div id="sectionB" class="tab-pane fade in">
                        <h5>Lorem Ipsum Dolor</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                      </div>
                      <div id="sectionC" class="tab-pane fade in">
                        <h5>Lorem Ipsum Dolor</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                      </div>
                      <div id="sectionD" class="tab-pane fade in">
                        <h5>Lorem Ipsum Dolor</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                      </div>
                      <div id="sectionE" class="tab-pane fade in">
                        <h5>Lorem Ipsum Dolor</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                      </div>
                      <div id="sectionF" class="tab-pane fade in">
                        <h5>Lorem Ipsum Dolor</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                      </div>
                    </div>
                  </div>
                </div><!-- .entry-content -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- End: Cart Section -->

<!-- Start: Social Network -->
<section class="social-network section-padding">
  <div class="container">
    <div class="center-content">
      <h2 class="section-title">Follow Us</h2>
      <span class="underline center"></span>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <ul>
      <li>
        <a class="facebook" href="#" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
        </a>
      </li>
      <li>
        <a class="twitter" href="#" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
        </a>
      </li>
      <li>
        <a class="google" href="#" target="_blank">
                            <span>
                                <i class="fa fa-google-plus"></i>
                            </span>
        </a>
      </li>
      <li>
        <a class="rss" href="#" target="_blank">
                            <span>
                                <i class="fa fa-rss"></i>
                            </span>
        </a>
      </li>
      <li>
        <a class="linkedin" href="#" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
        </a>
      </li>
      <li>
        <a class="youtube" href="#" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- End: Social Network -->

<!-- End: Social Network -->
<div class="modal small fade" id="myModalupd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
        <h3 id="myModalLabelupd">{{methode}} un Emprunt</h3>
      </div>
      <form>
        <div class="vl">
          <div id="contenu">
            <div class="panel" style="margin-top: 0%">


              <div class="panel-body">

                <input [(ngModel)]="emprunt.empruntPK.idLivre" class="form-control" id="idLivre" name="idLivre" placeholder="Id Livre"
                       style="width: 100%;"
                       type="text"/>
                <br>
                <input [(ngModel)]="emprunt.empruntPK.idEtd" class="form-control" id="idEtd" name="idEtd" placeholder="Id Etudiant"
                       style="width: 100%;" type="text"/>
                <br>
                <input *ngIf="methode==='Modifier'" [(ngModel)]="emprunt.dateRetour" class="form-control" id="date" max="2021-06-29"
                       min="1960-01-01" name="trip-start"
                       name="date_Retour"
                       placeholder="Date de Retour" type="date"/>
                <input *ngIf="methode==='Modifier'" [(ngModel)]="emprunt.dateRetourRee" class="form-control" id="date" max="2021-06-29"
                       min="1960-01-01" name="trip-start"
                       name="date_entree"
                       placeholder="Date de Retour Reel" type="date"/>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="modal-footer">
        <button data-dismiss="modal" aria-hidden="true" class="button" style="  border: none;
                                           color: white;
                                           padding: 10px 20px;
                                           text-align: center;
                                           text-decoration: none;
                                           font-size: 16px;
                                           border-radius: 12px;
                                           background-color: #F26D35;
                                   margin-left: 0%; " type="button">Annuler
        </button>
        <button (click)="ajouter()" data-dismiss="modal" aria-hidden="true" class="button" style="  border: none;
                                           color: white;
                                           padding: 10px 20px;
                                           text-align: center;
                                           text-decoration: none;
                                           font-size: 16px;
                                           border-radius: 12px;
                                           background-color: #F26D35;
                                   margin-left: 3%; " type="button">{{methode}}
        </button>
      </div>
    </div>
  </div>
</div>
