<!-- Start: Page Banner -->
<section class="page-banner services-banner">
  <div class="container">
    <div class="banner-header">
      <h2>Cart Page</h2>
      <span class="underline center"></span>
      <p class="lead">Proin ac eros pellentesque dolor pharetra tempo.</p>
    </div>
    <div class="breadcrumb">
      <ul>
        <li><a href="index-2.html">Home</a></li>
        <li>Dashboard</li>
      </ul>
    </div>
  </div>
</section>
<kendo-chart style="height: 450px; width: 600px ; margin-right: 50px; float: right; margin-top: 60px;">
    <kendo-chart-series>
      <kendo-chart-series-item
        type="donut"
        [data]="data"
        categoryField="kind"
        field="share">
        <kendo-chart-series-item-labels
          [content]="labelContent"
          color="#fff"
          background="none">
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend [visible]="false"></kendo-chart-legend>
  </kendo-chart>
<kendo-chart style="width: 600px; height: 450px; margin-left: 130px; margin-top: 60px; margin-bottom: 60px">
  <kendo-chart-series>
    <kendo-chart-series-item type="column" [data]="datahist">
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>
